@charset 'utf-8';
@import "~bulma/sass/utilities/functions";
@import "./estilos/cores_especiais.scss";

$custom-colors: (
  "custom-azul-claro-trans": ($custom-azul-claro-trans),
  "custom-azul-claro-solid" : ($custom-azul-claro-solid)

);

// Import Bulma styles
@import "~bulma/bulma";

// Import rbx style fixes
@import "~rbx/rbx";

body{
  font-family: 'Helvetica Neue';
  .title{
    font-family: 'Bold';
  }
}

.home{
  background-size: cover;
  background-image:linear-gradient(to bottom right, #f8fc23be 27%, #fddd26ce 100%), url("./imagens/nuvens.jpg");
  background-blend-mode: lighten;
  background-attachment: fixed;
  height: 100vh  ;
}

.Sobre_nos{
  background-size: cover;
  background-color:rgb(247, 244, 88);
  

}

.parceiros{

  background-image: url("./imagens/parede.jpg");
  background-blend-mode: lighten;
  img{
    height: 100px;
  }


}


nav.navbar {
  height: 70px;
  
  
  .navbar-brand {  
    img {
      height: 60px;
      margin-top:5px;
    }
  }

.button{
  font-family: 'Helvetica Neue';

}

  .button:hover{
    color: white;
    background-color: black;
    border-radius: 30px;
    transition: 2s;
  }

}

.fotter{
  padding: 1px;
  spam{
    padding: 12px;

  }

  .icones {
    padding: 2px;
  }


}

